@page "/examples/pi"

<PageTitle>@Title</PageTitle>

<h1>@Title</h1>
<p>@Description</p>

<p>@Math.PI</p>
<p>@(355.0/113.0)</p>
<p>@(22.0/7.0)</p>

<p>@Ex</p>
@InsertText()

@code
{
    public static string Title = "Pi";
    public static string Description = "Testing infinite scrolling";

    int Ex = 2;
    /*
    protected override async Task OnInitializedAsync()
    {
        
        while (true)
        {
            await Task.Delay(500);
            Ex = Ex * Ex;
            StateHasChanged();
        }
    }*/
    
    RenderFragment InsertText()
    {
        return @<p>Text</p>;
    }
}