@page "/games/duo"

@using Web.Components.Games.Duo.Parts
@inject SettingService Settings
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="css/duo-shared.css">

<PageTitle>Duo</PageTitle>

<h1>@Title</h1>
<p>@Description</p>

<div id="buttons">
<h5 class="score">Current Score - @Score</h5>
</div>

<div id="buttons">
    <button class="select" @onclick="() => SetGame(Game.Sentence)"><h6><b>Sentences</b></h6></button>
    <button class="select" @onclick="() => SetGame(Game.Number)"><h6><b>Numbers</b></h6></button>
    <button class="select" @onclick="() => SetGame(Game.Match)"><h6><b>Match</b></h6></button>
</div>

<div id="mobile-container">
    <div id="mobile-screen">
        
        @if (Selected == Game.Sentence)
        {
            <Duo_Sentence Ready="@Ready" ReadyStateChanged="@ReadyStateChanged" @key="Key" UpdateScore="@UpdateScore"/>
        }
        else if(Selected == Game.Number)
        {
            <Duo_Number Ready="@Ready" ReadyStateChanged="@ReadyStateChanged" @key="Key" UpdateScore="@UpdateScore"/>
        }else
        {
            <Duo_Match Ready="@Ready" ReadyStateChanged="@ReadyStateChanged" @key="Key" UpdateScore="@UpdateScore"/>
        }
            
        @if (!@Ready)
        {
            <Spinner/>
        }
    </div>
</div>


<div id="buttons">
    @if (Selected == Game.Sentence)
    {
        @foreach (string s in Settings.Sentence_Options)
        {
            <button class="select setting" @onclick="() => SetSetting(s)"><h6><b>@s</b></h6></button>
        }
    }else if (Selected == Game.Match)
    {
        @foreach (string s in Settings.Vocab_Options)
        {
            <button class="select setting" @onclick="() => SetSetting(s)"><h6><b>@s</b></h6></button>
        }
    }
</div>

@code
{
    public enum Game
    {
        Sentence,
        Number,
        Match
    }

    public Game Selected = Game.Sentence;

    public static string Title = "Duo";
    public static string Description = "Duo Games";
    public bool Ready = false;
    object Key = new object();
    public int Score = 0;

    public void SetGame(Game Chosen)
    {
        if (Ready)
        {
            Score = 0;
            Ready = false;
            Selected = Chosen;
            Key = new object();
        }
    }

    public void ReadyStateChanged(bool Current)
    {
        Ready = Current;
    }

    public void SetSetting(string Value)
    {
        switch (Selected)
        {
            case Game.Sentence: Settings.Sentences = Value; break;
            case Game.Match: Settings.Vocab = Value; break;
        }

        SetGame(Selected);
    }

    public void UpdateScore(bool Reset)
    {
        if(Reset)
        {
            Score = 0;
        }else
        {
            Score++;
        }
    }
}
